<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <h1 class="text-center">
      Hello, this is {{ title }}!
    </h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

      <div class="form-group">
        <input class="input-lg form-control" [(ngModel)]="name" type="text" >
      </div>

      <br>
      <h3 class="text-center">{{ name }}</h3>
    </div>
    <div class="col-md-4">

    </div>
  </div>
  <app-servers></app-servers>


</div>
